main {
    margin: 7px 7px 7px 0px;
    background-color: #181818;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: scroll;
}

.main-sticky {
    position: sticky;
    top: 0;
} 

@keyframes main-sticky-anime {
    from {

    }

    to {

    }
} 

.main-top{
    display: flex;
    /* background-color: yellow; */
    margin: 20px;
    position: relative;
}

.main-top .left button {
    padding: 0.5em;
    border-radius: 100%;
    background-color: rgb(35, 35, 35);
}

.main-top .right {
    color: #fff;
    position: absolute;
    right: 0px;
    display: flex;
    gap: 10px;
}

.premium-btn{
    background-color:azure;
    color: #000;
    padding: 6px 15px;
    border-radius: 100px;
    font-weight: 700;
}

.install-btn {
    background-color: #000;
    color: azure;
    padding: 6px 15px;
    display: flex;
    gap: 6px;
    font-weight: 700;
    border-radius: 100px;
}

.user-btn {
    background-color:#000;
    border-radius: 100%;
    /* padding: 20px; */
    padding: 8px 4px;
}

/*  */

.user-btn strong {
    color: #000;
    padding: 5px 7px;
    border-radius: 10em;
    background-color: rgb(0, 255, 89);
}
.main-tags ul {
    margin-left: 15px;
}
.main-tags li button {
    font-size: 15px;
}
.main-tags li button:focus{
    background-color: #fff;
    color: #000;
}

/*  */

.wide-main-card-container {
    display: grid;
    margin: 15px 2% 0 2%;
    grid-template-columns: 24.2% 24.2% 24.2% 24.2%;
    column-gap: 1%;
    row-gap: 10px
}
.wide-main-card-container .wide-card {
    display: flex;
    width: 100%;
    border-radius: 0.3em;
    height: 50px;
    background-color: #212121;
}
.wide-main-card-container .wide-card:hover {
    background-color: #3f3f3f;
}
.wide-main-card-container img {
    width: 50px;
    height: 100%;
    border-radius: 12% 0 0 12%;
}
.wide-main-card-container .card-inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wide-main-card-container .card-title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}
.wide-main-card-container .card-bottom {
    color: rgb(149, 149, 149);
    font-size: 12px;
}

/* Music Playlist Card Section */

.a-type-of-playlist {
    color: #fff;
    margin: 20px;
}
    
.a-type-of-playlist h3 {
    font-size: 20px;
    margin: 10px 0;
    max-width: fit-content;
}
    
.a-type-of-playlist h3:hover {
    text-decoration: underline;
}

.music-playlist-container {
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap:20px;
}

.sq-playlist-card{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sq-playlist-card img {
    height:100%;
    width:100%;
    padding: 10px;
} 

.sq-playlist-card:hover {
    background-color: #3f3f3f;
}

.sq-playlist-card p {
    min-height: 3.5rem;
}
