* {
    margin: 0;
    padding: 0;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
}

svg {
    fill: #b3b3b3;
}

body {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(0, 0, 0);
    user-select: none;
}

/* Left side aside */

aside {
    width: 320px;
    min-width: 280px;
    max-width: 999px;
    height: calc(100% - 21px);
    margin-top: 7px;
    position: relative;
    margin-left: 7px ;
}

/* Top left home box */

.top-left {
    width: 100%;
    height: 100px;
    background-color: #181818;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home, .search {
    display: flex;
    align-items: center;
    margin: 0 14px;
    padding-left: 10px;
}

.home *, .search * {
    padding: 10px 10px 10px 0px;
    color: #b3b3b3;
}

.home:focus *, .search:focus *, .home:hover *, .search:hover *  {
    fill: #fff ;
    color: #fff ;
}

/* Library in left */

.library {
    margin: 7px 0;
    width: 100%;
    height: calc(100% - 100px);
    border-radius: 10px;
    background-color: #181818;
}

/* Your library line */

.library .title , .library .title .left :first-child, .library .title .right {
    display: flex;
    flex-direction: row;
}

.library .title {
    color: #b3b3b3;
    position: relative;
    justify-content: space-between;
    padding: 10px;
}

.library .title .left button svg {
    padding: 10px;   
}

.library .title .left {
    margin-left: 4px;
}

.library .title .right  > * {
    position: relative;
    margin-right: 4px;
    right: -10px;
    padding: 10px 12px;
}

.library .title .left button {
    font-size: small;
    display: flex;
    align-items: center;
}

.library .title .right button {
    width: 40%;
    height: 80%;
}

.lib-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lib-collapse:hover {
    color: #fff ;
    transition: 200ms linear ;
}

.lib-collapse:hover svg {
    fill: #fff !important ;
    transition: 200ms linear ;
}

/* Left Library*/

/* Tags */
.tags {
    display: flex ;
    color: #fff;
    list-style: none;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}

li button {
    margin: 4px;
    padding: 5px 10px;
    font-size: 13px;
    background-color: #ffffff12;
    border-radius: 100px;
}

li button:hover {
    background-color: rgba(255,255,255,0.1);
}

/* search and recents */

.search-in-lib {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    color : #b3b3b3;
}

.hidden-more{
    position: absolute;
    right: 0px;
    padding: 4px 10px 10px 50px;
    background: linear-gradient(to right, #00000000 0%, #181818ff 55%);
}

.hidden-more svg {
    background-color: #ffffff22;
}

.search-left, .hidden-more {
    display: flex;
    align-items: center;
}

.search-left .search-icon, .hidden-more svg {
    padding: 5px 5px 5px 6px;
    border-radius: 9999px;
}

.search-left :hover, .hidden-more :hover {
    background-color: #434343;
    fill: #fff !important;
}

.search-right :last-child {
    padding-left: 5px;
}

.search-right {
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-in-lib > :hover {
    color: #fff;
    transform: scale(104%);    
}

.search-in-lib > :hover svg{
    fill: #fff !important;
}

/* Wide Lib Cards */

.wide-lib-card-container{
    overflow-y: scroll;
    scrollbar-color: #33333300 #00000000;
    max-height:72%;
    position: relative;
    scrollbar-width: thin;
    display: grid;
    gap: 10px;
}
.wide-lib-card-container:hover {
    scrollbar-color: #333333 #00000000;
}

.wide-lib-card {
    display: flex;
    border-radius: 0.4em;
    height: 9vh;
}

.wide-lib-card:hover {
    background-color: #212121;
}

.wide-lib-card img {
    margin-left: 10px;
    border-radius: 8px;
}
.card-inner-text {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-title{
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}
.card-bottom{
    color: rgb(149, 149, 149);
    font-size: 12px;
}

/* Aside and main divided */

.sep div{
    display: flex;
    width: 7px;
    height: 100%;
    cursor:grab;
}

.sep :hover .line{
    height: 94%;
    margin: auto;
    width: 1px;
    background-color: #8a8a8a;
}

/* Fixed bottom current music play controls */

.current {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cur-info {
    /* background-color: yellowgreen; */
    width: 28%;
    display: flex;
}

.cur-info > * {
    margin: auto 5px;
}

.player {
    /* background-color: yellow; */
    width: 42%;
    display: grid;
    place-content: center;
    gap: 10px;
}

.upper-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.upper-btns button svg {
    fill: #b3b3b3;
}
.upper-btns .white-on-hover:hover{
    fill: #fff;
}

#play-btn {
    background-color: #fff;
    padding: 8px;
    display: grid;
    margin-block-start: -4px;
    place-content: center;
    border-radius: 100%;
}

#play-btn:hover {
    outline: 1px solid #fff;  
}

#play-btn svg {
    fill: black;
}

.song-length-display{
    display: flex;
    color: #9f9f9f;
    align-items: center;
    gap: 10px;
}

.time {
    font-size: 12px;
}

#timeline-bg {
    width: 32.5vw;
}

#timeline-above{
    width: 69.69%;
}

#timeine-above .cur-value-circle {
    padding-bottom: 100px;
}

.bottom-right-controles {
    width: 28%;
    display: flex;
    justify-content:right;
    align-items: center;
    margin-bottom: 5px;
}

.bottom-right-controles > * {
    padding: 2px 8px ;
}

#soundline-bg {
    width: 6vw;
}

#soundline-above {
    width: 100%;
}